body {
    font: 'open_sans', sans-serif;
	margin: 0;
	min-width: 1200px;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
	visibility: hidden;
	display: table;
	content: " ";
	clear: both;
	height: 0;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/* ================================ *
 * Augsejais menu + logo
 * ================================ */
 
 .top {
	background-color: #473a2d;
 }
 
 .izvelne {
	display: inline-block;
    border-right: 1px solid #fff;
    padding: 12px;
    margin-top: 25px;
    padding-right: 18px;
	position: relative;
 }
 
 .izvelne:last-child {
    border: none;    
 }
 
 .izvelne a {
    color: #fff;
    text-decoration: none;
	padding: 10px 14px 10px 14px;
 }
 
 .izvelne a:hover {
	background-color: #5b4d3b;
 }
 
 
 .menu {
	float: right;
	color: #fff;
}

/* ================================ *
 * slider
 * ================================ */
 
 .slider {
	height: 565px;
 }
 
 .slider img {
	margin-top: -67px;
	padding-top: 67px;
 }
 /* ================================ *
 * Pakalpojumi
 * ================================ */
 .pakalpojumi {
	background: url(../pic/fons.png) no-repeat center;
	background-size: cover;
	padding-bottom: 60px;
 }
.container h2 {
	color: #a6874b;
	text-align: center;
	border-bottom: 2px dotted #a6874b;
	padding-bottom: 15px;
	padding-top: 20px;
 }
 
 .col-1-3 {
       width:33.333%;
       float:left;
 	  padding-left: 30px;
 	  padding-right: 30px;
 	  box-sizing: border-box;
 }
 .col-1-3:first-child {
 	padding-left: 0;
 }
 .col-1-3:last-child {
 	padding-right: 0;
 }
 .col-2-3 {
       width:66.666%;
       float:left;
 }
 .row:after {
       display:table;
       content:"  ";
       clear:both;
 }
 
.article-image {
   float:left;
   margin-right: 20px;
 }
 
 .article-text {
   color:#534c38;
   font-size:16px;
   overflow:hidden;
 }

/* ================================ *
 * Par mums
 * ================================ */
 
 .par-mums{
     background-color: #6f583a;
	 margin-top: -20px;
 }
 
 .about-text {
	color: #fff;
 }
 
 .heading h3{
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 2px solid red;
}

.portrets {
	padding-left: 170px;
}
.texts p {
    text-align: left;
}

.row {
    display: table;
    table-layout: fixed;
    width: 100%;
	padding-left: 10px;
  }

.col-1-2 {
	width: 50%;
	float: left;
	padding: 30px;
}

.name-info h3{
    text-align: center;
    color: #a6874b;
}

.name-info a{
    text-decoration: none;    
}

.phone {
    text-align: center;
    color: #a48d55;
    line-height: 3px;
    font-size: 15px;
}

.email {
    text-align: center;
    color: #a48d55;
    line-height: 3px;
    font-size: 15px;
}

.specialists p {
    text-align: left;
    padding-right: 40px;
	color: #fff;
}

.certificate {
  list-style-type: none;
  background-color:#624e36;
  color:#fff;
  padding: 10px;
  padding: 1em;
}

.certificate li {
  width: 50%;
  float: left;
}

.certificate li::before {
  display:block;
  content: url('../pic/diploms.jpg');
  float:left;
  padding-right:10px;
}

.cilveks-2 {
	margin-top: -5px;
}

/* ================================ *
 * Klienti
 * ================================ */
 .klienti {
	background-color: #f9f6ee;
	margin-top: -20px;
 }
 
.logo-container li{
    padding-right: 45px;
    padding-bottom: 77px;
	display: inline-block;
}

.logo-container li:last-child{
	padding-left: 0px;
}
/* ================================ *
 * Kontakti
 * ================================ */
 
 .kontakti{
	overflow: hidden;
	background: url(../pic/contactsback.png) no-repeat center;
	background-size: cover;
	margin-top: -15px;
 }
 
 .contact-info{
	text-align: center;
	margin-top: 14px;
	line-height: 1.9;
	color:#c7a457;
 }
 
 .contact-info a {
     text-decoration: none;
     color: #eacc8b;
 }

 .contact-info img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}
 
.log-in {
   color: #eacc8b;
}

.form-style {
  float:left;
  width: 196px;
  background-color:#7f6c42;
  color:#a38a55;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
  color: #a28954;
}

.msg-style {
  width:405px;
  min-height: 149px;
  background-color:#7f6c42;
  border: none;
  color: #a28954;
}
.btn-style {
  width:110px;
  height: 41px;
  background-color:#b1965c;
  border: none;
}

.map {
	border: 7px solid #c7a457;
}

.auto-top {
  display: inline-block;
  position: fixed;
  background-color: #dad2c0;
  padding: 14px 10px;
  right: 32px;
  bottom: 35px;
  opacity: .6;
}
